<html>
    <head>
        <title>
            My HTML Page
        </title>
        <style>

        </style>
    </head>
    <body >
        <h1>This is a static webpage served by Node.js</h1>
        <h2>Created by Neil Deshpande</h2>
        <h3>TE-9</h3>
        <h3>33121</h3>
        <h3>K-9</h3>
    </body>
</html>